

@model List<Scheduling.Models.ProjectDisplay>
@{
    ViewBag.Title = "Created Projects";
    ViewBag.Title = "List Roles";
}

<h2>Projects With Project Status of Created</h2>
@{
    
    
    if (Model.Count > 0)
    {
        
         <table cellspacing='0' cellpadding='0' class='zebra-striped'>
        <thead>
            <tr style='background-color: #808080'>
                <th align='left'>
                    Project Name
                </th>
                <th align='left'>
                    Creation Date
                </th>
                <th align='left'>
                    Time of Creation
                </th>
                <th align='left'>
                    Year
                </th>
                <th align='left'>
                    Profile Type
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                  

        foreach (Scheduling.Models.ProjectDisplay pd in Model)
        {

                <tr>
                    <td style='width: 15%'>@pd.Name
                    </td>
                    <td style='width: 15%'>@pd.DateCreated.ToLongDateString()
                    </td>
                    <td style='width: 15%'>@pd.DateCreated.ToShortTimeString()
                    </td>
                    <td style='width: 15%'>@Scheduling.Database.Utility.GetAllYears().Where(x => x.ID == pd.YearFK).First().Value
                    </td>
                    <td style='width: 15%'>@Scheduling.Database.Utility.GetProfileTypeNameFromProjectID(pd.ID)
                    </td>
                </tr>

        }
                   
            }
        </tbody>
    </table>

        

        
        
    }
    
}
